<%- partial('partials/head') %>
  <body>
  	<div id="container">
  	
    <%- partial('partials/header') %>
    
    <section id="main" ><%- body %></section>

    <%- partial('partials/search') %>

    <%- partial('partials/footer') %>
    <%- partial('partials/after-footer') %>

	</div>
  </body>
</html>